<html>
    <head>
        <title>Bienvenido a {{ http_host }} !</title>
    </head>
    <body>
        <h1>El host virtual de Apache "{{ http_host }}" funciona correctamente!</h1>
		<h1>Para comprobar si PHP está habilitado en el servidor, haga click en el enlace:</h1>
		<h1><a href="http://localhost/info.php">PHP Info Page</a></h1>
    </body>
</html>